.fund {
    width: 351px;
    height: 445px;
    background: #0e0e0e;
    border: 2px solid #1c1c1c;
    border-radius: 24px;
    margin-left: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.fund__title {
    font-family: 'Brinnan';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 30px;
    color: #ffffff;
}

.fund__chasebank {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fund__chasebank-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fund__chasebank-check img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.fund__chasebank-check_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fund__chasebank-check_text-title {
    font-family: 'Brinnan';

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
}

.fund__chasebank-check_text-desc {
    font-family: 'Brinnan';

    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    color: #77838f;
}

.fund__chasebank-btn {
    width: 81px;
    height: 31px;
    background: linear-gradient(180deg, #292a2d 0%, #1c1c1c 100%);
    border-radius: 9px;
    font-family: 'Brinnan';

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
}

.fund__chasebank-btn:hover {
    border: 2px solid rgb(119, 58, 199);
    cursor: pointer;
}

.fund__input-first,
.fund__input-second {
    width: 299px;
    height: 60px;
    background: #292a2d;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fund__input-first {
    margin: 12px auto 5px auto;
    position: relative;
}

.fund__input-second {
    margin: 0 auto 24px auto;
}

.fund__input-first p,
.fund__input-second p {
    font-family: 'Brinnan';

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #a3a3a3;
}

.fund__input-first .fund__input-btn {
    width: 66px;
    height: 30px;
    background: #212121;
    border-radius: 8px;
    font-family: 'Brinnan';

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
}

.fund__input-first img {
    position: absolute;
    bottom: -19px;
    width: 30px;
    height: 30px;
    background: #1a1a1a;
    border: 1px solid #353535;
    border-radius: 500px;
    color: #fff;
    cursor: pointer;
}

.fund__input-second {
    justify-content: space-between;
    padding: 0 0.7rem;
}

.fund__input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    background: linear-gradient(180deg, #0e0e0e 0%, #1c1c1c 100%);
    border-radius: 12.5px;
}

.fund__input-btn:hover {
    border: 2px solid rgb(119, 58, 199);
    cursor: pointer;
}

.fund__input-btn img:first-child {
    width: 24px;
    height: 24px;
}

.fund__input-btn img:last-child {
    width: 18px;
    height: 18px;
}

.fund__input-btn p {
    font-family: 'Brinnan';

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #ffffff;
    margin: 0 5px;
}

.btn-fund {
    width: 299px;
    height: 54px;
    border-radius: 12px;
    margin: 0 auto;
}

.btn__fund-acc {
    background: #000000;
    font-family: 'Brinnan';

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.btn__fund-acc:hover {
    border: 2px solid rgb(50, 171, 223);
    cursor: pointer;
}

.btn__fund-withdraw {
    background: rgba(51, 172, 224, 0.2);
    font-family: 'Brinnan';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 172, 224, 0.5);
    margin-bottom: 30px;
}

.btn__fund-withdraw:hover {
    border: 2px solid rgb(50, 171, 223);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .fund {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 650px) {
    .fund {
        margin: 0;
    }
}
