.notify__activity {
    margin-left: 30px;
    margin-bottom: 25px;
}

.notify__activity-status {
    font-family: 'Brinnan';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #77838f;
}

.notify__activity-action {
    font-family: 'Brinnan';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
}

.notify__activity-time {
    font-family: 'Brinnan';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #77838f;
}
