@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url(//db.onlinewebfonts.com/c/9fbffe9c24e09e4fac70f87f5a76f558?family=Brinnan);




.dropdown {
    position: absolute;
    z-index: 99;
    width: 360px;
    height: 604px;
    left: 900px;
    top: 82px;
    right: 37px;
    bottom: 431px;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 32px;
    color: white;
}

.dropdown-rectangle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 308px;
    top: 22px;

    border: 2px solid #1C1C1C;
    border-radius: 500px;
}

.img-close {
    position: absolute;
    width: 18px;
    height: 18px;

    left: 314px;
    top: 28px;

}


.profile-pic {
    box-sizing: border-box;

    position: absolute;
    width: 80px;
    height: 80px;
    left: 140px;
    top: 37px;

    border: 2px solid #474747;
    border-radius: 500px;
}

.text-paren,
.text-child {
    position: absolute;
    width: 172px;
    height: 25px;
    left: 94px;
    right: 94px;
    bottom: 425px;
    top: 154px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700px;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.text-child {
    width: 229px;
    height: 25px;
    left: 65px;
    top: 190px;

    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;

    color: #77838F;

}

.button-rectangle {
    box-sizing: border-box;

    position: absolute;
    width: 207px;
    height: 56px;
    left: 76px;
    top: 240px;

    border: 1px solid #2F2F2F;
    border-radius: 12px;
}

.text-settings {
    position: absolute;
    width: 155px;
    height: 37px;
    left: 102px;
    top: 250px;
    text-decoration: none;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.text,
.doc {
    position: absolute;
    width: 143px;
    height: 35px;
    left: 37px;
    top: 320px;
    text-decoration: none;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.line-acc {
    position: absolute;
    width: 286px;
    height: 0px;
    left: 37px;
    top: 367px;

    border: 1px solid #2F2F2F;
}

.referrals {
    top: 378px;
}

.line2 {
    top: 426px;
}

.help-center {
    top: 437px;
}

.line3 {
    top: 485px;
}

.notifications {
    top: 496px;
}

.line4 {
    top: 541px;
}

.sign-out {
    top: 552px;
    color: #FF5C5C;
}