.main {
  width: 1900px;
  height: 1400px;
  background-color: #13161b;
  position: relative;
  overflow: hidden;
}
.main .MenuMain {
  position: fixed;
  overflow: hidden;
  width: 17%;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid rgb(36, 53, 66);
}
.Logo {
  margin: 0;
  width: 100%;
  height: 16%;
  border-bottom: 1px solid rgb(36, 53, 66);
  background-color: #13161b;
  overflow: hidden;
}
.Logo .LogoImage{
    margin-top: 7%;
    margin-left: 22%;
    width: 50%;
    height: 505;
}
.MenuHome {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 8%;
  margin-left: 6.8%;
  width: 85%;
  color: #a9a9a9;
  height: 4.6%;
  overflow: hidden;
}
.MenuHome:hover {
  background-color: #1c1f25;
  transition: 0.8s;
  color: #0085c7;
}
.icon {
  float: left;
  width: 20%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav-link {
  float: right;
  width: 80%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.nav-link h3 {
  font-weight: 600;
  color: #a9a9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  white-space: nowrap;
  margin-left: 12px;
  font-size: 15px;
  line-height: 12px;
}

.main .HomePoster {
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  /* overflow: hidden auto; */
  position: absolute;
  flex: auto;
  margin-top: 2%;
  margin-right: 4%;
  display: block;
  width: 75%;
  box-sizing: border-box;
  height: 15%;
  border: 1px solid rgb(36, 53, 66);
}
.main .HomePoster h2 {
  left: 0;
  padding-left: 1%;
  color: white;
}
.main .HomePoster .image {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0.2;
    top: 0;
    border-radius: 8px;
}
.main .HomePoster h4 {
  left: 0;
  padding-left: 1%;
  color: white;
}
.main .HomeMainSecond {
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  flex: auto;
  margin-top: 14%;
  margin-right: 4%;
  display: block;
  width: 75%;
  box-sizing: border-box;
  height: 12%;
  border: 1px solid rgb(36, 53, 66);
}
.Header-HomeMainSecond {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 30%;
  border-bottom: 1px solid rgb(36, 53, 66);
}
.Header-HomeMainSecond .Header1 {
  position: absolute;
  width: 8%;
  height: 100%;
  align-items: center;
  font-weight: 600;
  color: #a9a9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  white-space: nowrap;
  text-align: center;
  font-size: 15px;
  line-height: 14px;
}
.Header-HomeMainSecond h3 {
  font-weight: 600;
  color: #a9a9a9;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
  white-space: nowrap;
  margin-left: 12px;
  font-size: 15px;
  line-height: 16px;
}

.row {
  right: 0;
  position: absolute;
  flex: auto;
  margin-top: 24%;
  margin-right: 2.6%;
  width: 76.4%;
  overflow: hidden;
  box-sizing: border-box;
  max-height: auto;
}

.btn-card {
  float: left;
  width: 18%;
  border-radius: 10px;
  margin-right: 2%;
  color: white;
  margin-top: 1%;
  min-height: auto;
  background-color: #282c34;
  overflow: hidden;
}
.ClickButton {
  width: 18%;
  height: 12%;
  border-radius: 5px;
  margin-left: 1%;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  text-align: center;
  background-color: #046cfc;
}
.ClickButton a {
  text-decoration: none;
  color: white;
}

.Detail-HomeMainSecond {
  position: absolute;
  bottom: 0;
  width: 50%;
  overflow: hidden;
  height: 70%;
}
.Detail-Volume-HomeMainSecond {
    right: 0;
    position: absolute;
    bottom: 0;
    width: 50%;
    overflow: hidden;
    height: 70%;
  }
.Detail-HomeMainSecond h3 {
  font-weight: 600;
  color: #a9a9a9;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  opacity: 1;
  white-space: nowrap;
  margin-left: 12px;
  font-size: 15px;
  line-height: 16px;
}
.Detail-Volume-HomeMainSecond h3 {
    font-weight: 600;
    color: #a9a9a9;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    white-space: nowrap;
    margin-left: 12px;
    font-size: 15px;
    line-height: 16px;
  }

  .main .Bao{
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    /* overflow: hidden auto; */
    position: absolute;
    flex: auto;
    top: 0;
    margin-right: 4%;
    display: block;
    width: 75%;
    box-sizing: border-box;
    height: 15%;
    border: 1px solid rgb(36, 53, 66);
  }