

.Same_Chain {
    /* position: absolute; */
    width: 136.19px;
    height: 37.32px;
    left: 833px;
    top: 191px;
    background: linear-gradient(180deg, #1C1C1C 0%, #1A1A1A 100%);
    border-radius: 12px;
    /* cursor: pointer; */

}

.Same_Chain:hover {
    background: linear-gradient(180deg, #1C1C1C 0%, #1A1A1A 100%);
}

div.Same_Chain {
    margin-left: 36px;
    margin-top: 6px;

}

.Same_Chain p {
    /* position: absolute; */
    width: 103px;
    height: 16px;
    left: 863px;
    top: 202px;
    margin-top: 7px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    padding-top: 8px;
    margin-left: 16px;
}

.Cross_Chain p {
    /* position: absolute; */
    width: 141px;
    height: 15px;
    left: 1039px;
    top: 202px;
    margin-top: 10px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    color: #77838F;
}

.Cross_Chain {
    width: 136.19px;
    height: 37.32px;
    left: 833px;
    top: 191px;
    margin-top: 6px;
    border-radius: 12px;
    cursor: pointer;
}

.Cross_Chain:hover {

    background: linear-gradient(180deg, #1C1C1C 0%, #1A1A1A 100%);
}

.Swap_Body2{
    position: absolute;
    width: 600px;
    height: 530px;
    left: 594px;
    top: 263px;
    /* background: red; */
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
    /* display: flex; */
}

.header_swap {
    /* position: absolute; */
    width: 86px;
    height: 21px;
    left: 733px;
    top: 288px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #FFFFFF;

}

.icon2 {
    margin-top: -21px;
    position: absolute;
    right: 40px;
    color: aliceblue;
    width: 30px;
    height: 30px;

}

/* usdc */
.Swap_USDC {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border: 1px solid #525252;
    border-radius: 12px;
    margin: 49px 40px 0px 40px;
    background: #292A2D;
}

.wrapper_USDC {
    display: flex;


}

.num_USDC p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.limit {
    width: 68px;
    height: 34px;
    background: linear-gradient(128.99deg, #0E0E0E 27.63%, #1C1C1C 89.43%);
    border-radius: 12px;
    margin: 33px 200px 29px 19px;
}

.limit p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 10px 5px 20px;
}

.USDC {
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;
    cursor: pointer;

}

.USDC img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.USDC p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.num_USDC p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.limit {
    width: 68px;
    height: 34px;
    background: linear-gradient(128.99deg, #0E0E0E 27.63%, #1C1C1C 89.43%);
    border-radius: 12px;
    margin: 33px 200px 29px 19px;
}

.limit p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 10px 5px 20px;
}

.USDC {
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;

}

.USDC img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.USDC p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* avax */
.Swap_AVAX {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border: 1px solid #525252;
    border-radius: 12px;
    margin: 10px 40px 10px 40px;
    background: #292A2D;
}

.wrapper_AVAX {
    display: flex;


}

.num_AVAX p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.AVAX {
    cursor: pointer;
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;

}

.AVAX img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.AVAX p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* Begin Swap */
.Begin_Swap:hover{
    background-color: #33ACE0;
}
.Begin_Swap {
    width: 520px;
    height: 60px;
    left: 733px;
    top: 568px;
    cursor: pointer;
    /* background: red; */
    background: #000000;
    border-radius: 12px;
    margin: 0px 40px;
    border-color: #33ACE0;
    border-style: solid;
    /* border-color: coral; */
}

.Begin_Swap p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 210px;
    color: #FFFFFF;
    padding-top: 17px;
    font-weight: bold;

}

.arrow {
    box-sizing: border-box;

    /* position: absolute; */
    width: 50px;
    height: 50px;
    left: 968px;
    top: 426px;

    background: #1A1A1A;
    border: 1px solid #353535;
    border-radius: 500px;
}

div.arrow {
    padding: 9px;
    margin: -200px 275px;
}

.footer2 {
    display: flex;
}
.footer2 .sec2:hover{
    background-color:#7783;
}
.footer2 .sec2 {
    width: 288px;
    height: 122px;
    left: 693px;
    top: 676px;
    cursor: pointer;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
    margin-top: 20px;
}

.s,
.pt {
    width: 132px;
    height: 40px;
    left: 772px;
    top: 705px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 29px 77px 0px 90px;
}
.footer2 .percent2:hover{
    background-color:#7783
}
.s::after {
    content: "<20 sec";
}

.text_footer,
.free {
    width: 73px;
    height: 25px;
    left: 801px;
    top: 745px;
    margin: 2px 107px 28px 118px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    color: #77838F;
}

.footer2 .percent2 {
    width: 288px;
    height: 122px;
    left: 693px;
    top: 676px;
    cursor: pointer;
    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
    margin-top: 20px;
    margin-left: 24px;
}

/* table */
.table-model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(4, 4, 4, 0.5);
    backdrop-filter: blur(10px);
    z-index: 9999;
    animation: show__overlay 0.5s linear;
}

.table {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 428px;
    height: 529px;
    background: #0e0e0e;
    border: 1px solid #1c1c1c;
    border-radius: 24px;
    z-index: 99999;
}

.table-header {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}

.table-header p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.aline_table {
    position: relative;
    width: 428px;
    height: 0px;
    left: 0px;
    top: 73.02px;

    border: 1px solid #1A1A1A;
    transform: rotate(0deg);
}

.close__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(140, 137, 137);
    border-radius: 500px;
    cursor: pointer;
    color: rgb(140, 137, 137);
    text-decoration: none;
    outline: none;
    font-size: 1.1rem;
}

.close__btn:hover {
    border: 2px solid rgb(228, 216, 216);
    color: rgb(228, 216, 216);
}

.table-list {
    width: 418px;
    height: 435px;
    border-radius: 12px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.table-list_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

.table-list_item-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.table-list_item-content-box1 {
    display: flex;
}

.table-list_item-content img {
    width: 30px;
    height: 30px;
}

.table-list_item-content p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #FFFFFF;

}

.table-list_item-content span {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #77838F;
}

.table-footer {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #77838F;
}

/* Cross */

.Cross_Swap {
    height: 450px;
    /* background-color: red; */
}

.Cross_BUSD {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border: 1px solid #525252;
    border-radius: 12px;
    margin: 7px 40px 0px 40px;
    background: #292A2D;
}

.select_BUSD {
    width: 519px;
    height: 48px;
    left: 40px;
    top: 92px;
    margin-top: 23px;
    margin-left: 40px;
    background: #292A2D;
    border-radius: 12px;
}
.from_select:hover{
    background-color: #525252;
    border-radius: 12px;
}
.from_select {
    display: flex;
    margin-top: 40px;
    cursor: pointer;
}

.wrapper_BUSD {
    display: flex;


}

.from_select p {
    width: 42px;
    height: 16px;
    left: 753px;
    top: 368px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
    color: #FFFFFF;
}

img.dropdown {
    margin-right: 50px;
    margin-top: 15px;
    position: absolute;
    margin-left: 475px;
}

img.img_busd {
    margin: 9px 7px 9px 5px;
}

.from_select p {
    width: 65px;
    height: 16px;
    left: 837px;
    top: 368px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin: 15px -28px 10px 20px;
}

p.p2 {
    margin-left: 5px;
}

.num_BUSD p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.limit {
    width: 68px;
    height: 34px;
    background: linear-gradient(128.99deg, #0E0E0E 27.63%, #1C1C1C 89.43%);
    border-radius: 12px;
    margin: 33px 200px 29px 19px;
}

.limit p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 10px 5px 20px;

}
.BUSD {
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;
    cursor: pointer;

}

.BUSD img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.BUSD p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.num_BUSD p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.limit {
    width: 68px;
    height: 34px;
    background: linear-gradient(128.99deg, #0E0E0E 27.63%, #1C1C1C 89.43%);
    border-radius: 12px;
    margin: 33px 200px 29px 19px;
}

.limit p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 10px 5px 20px;
}

.BUSD {
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;

}

.BUSD img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.BUSD p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* avax */
.select_AVAX {
    width: 519px;
    height: 48px;
    left: 40px;
    top: 92px;
    margin-top: 23px;
    margin-left: 40px;
    background: #292A2D;
    border-radius: 12px;
}

.from_select {
    display: flex;
    margin-top: 30px;
}

.Swap_AVAX {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border: 1px solid #525252;
    border-radius: 12px;
    margin: 10px 40px 10px 40px;
    background: #292A2D;
}

.wrapper_AVAX {
    display: flex;


}

.num_AVAX p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #77838F;
    margin: 33px 19px 30px 40px;

}

.AVAX {
    display: flex;
    margin: 33px 21px 31px 0px;
    background: linear-gradient(180deg, #0E0E0E 0%, #1C1C1C 100%);
    border-radius: 12.5px;
    height: 34px;
    width: 105px;
    margin-right: 15px;

}

.AVAX img {
    width: 30px;
    height: 30px;
    left: 11px;
    top: 9px;
}

.AVAX p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

/* Begin Swap */
.Begin_Swap {
    width: 520px;
    height: 60px;
    left: 733px;
    top: 568px;
    /* background: red; */
    background: #000000;
    border-radius: 12px;
    margin: 0px 40px;
    border-color: #33ACE0;
    border-style: solid;
    /* border-color: coral; */
}

.Begin_Swap p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 210px;
    color: #FFFFFF;
    padding-top: 17px;
    font-weight: bold;

}

.arrow {
    box-sizing: border-box;

    /* position: absolute; */
    width: 50px;
    height: 50px;
    left: 968px;
    top: 426px;

    background: #1A1A1A;
    border: 1px solid #353535;
    border-radius: 500px;
}

div.arrow {
    padding: 9px;
    margin: -270px 275px;
}

.ss::after {
    content: "<45 sec";
}

.ss,
.pt {
    width: 132px;
    height: 40px;
    left: 772px;
    top: 705px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 29px 77px 0px 90px;
}

/* table_source */
.table_Source {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(4, 4, 4, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    animation: show__overlay 0.5s linear;
}

.table_source {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 428px;
    height: 529px;
    background: #0e0e0e;
    border: 1px solid #1c1c1c;
    border-radius: 24px;
    z-index: 99999;
    margin-left: 0px;
}

.table_hearder_source p {
    width: 100px;
    height: 35px;
    left: 35px;
    top: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.table_hearder_source {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}


.table_body_source {

    width: 418px;
    height: 435px;
    border-radius: 12px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.table_body_source_box {
    margin-left: 34px;
    width: 85%;
    height: 85%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
}

.table-list_item-content_source {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.table-list_item-content_source-box1 {
    display: flex;
}

.table-list_item-content_source img {
    width: 30px;
    height: 30px;
}

.table-list_item-content_source p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #FFFFFF;
    width: 200px;

}

.aline_body {
    /* position: absolute; */
    /* width: 418px; */
    margin-right: -34px;
    margin-left: -278px;
    margin-bottom: -42px;
    margin-top: 62px;
    height: 0px;
    left: 35px;
    top: 183px;
    width: 354px;
    border: 1px solid #303030;
}
.current_box:hover{
    background-color: #33ACE0;
}
.current_box {
    width: 99px;
    height: 41px;
    box-sizing: border-box;

    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    cursor: pointer;
    background: #000000;
    border-radius: 12px;
    border-color: #33ACE0;
    border-style: solid;
    margin-top: 0px;
    margin-right: -100px;
    margin-left: -46px;
}

.current_box p {
    width: 74px;
    height: 25px;
    left: 13px;
    top: 8px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 26px;
    /* float: ; */
}
/* table_destination */
.table_Destination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(4, 4, 4, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    animation: show__overlay 0.5s linear;
}

.table_destination {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    width: 428px;
    height: 529px;
    background: #0e0e0e;
    border: 1px solid #1c1c1c;
    border-radius: 24px;
    z-index: 99999;
    margin-left:  0px;
}
.table_hearder_destination p {
    width: 100px;
    height: 35px;
    left: 35px;
    top: 20px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.table_hearder_destination {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}
.table_body_destination {

    width: 418px;
    height: 435px;
    border-radius: 12px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.table_body_destination_box {
    margin-left: 34px;
    width: 85%;
    height: 85%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #0E0E0E;
    border: 2px solid #1C1C1C;
    border-radius: 24px;
}

.table-list_item-content_destination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.table-list_item-content_destination-box1 {
    display: flex;
}

.table-list_item-content_destination img {
    width: 30px;
    height: 30px;
}

.table-list_item-content_destination p {
    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #FFFFFF;
    width: 200px;

}

.aline_body {
    /* position: absolute; */
    /* width: 418px; */
    margin-right: -34px;
    margin-left: -278px;
    margin-bottom: -42px;
    margin-top: 62px;
    height: 0px;
    left: 35px;
    top: 183px;
    width: 354px;
    border: 1px solid #303030;
}
.selected_box:hover{
    background-color: #33ACE0;
}
.selected_box {
    width: 99px;
    height: 41px;
    box-sizing: border-box;

    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    cursor: pointer;
    background: #000000;
    border-radius: 12px;
    border-color: #33ACE0;
    border-style: solid;
    margin-top: 0px;
    margin-right: -100px;
    margin-left: -100px;
}

.selected_box p {
    width: 74px;
    height: 25px;
    left: 13px;
    top: 8px;

    font-family: 'Brinnan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin: 6px 26px;
    /* float: ; */
}